@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;

}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2.5rem !important;
}
h3{
font-size: 2rem !important;
}

h4 {
    font-size: 1.5rem !important;
}

h5 {
    font-size: 1rem !important;
}

h2::after {
    
    content: '';
    height: 3px;
    width: 100px;
    background-color:#FF006E;
    margin-top:  auto;
    margin-left:  auto;
    margin-right:  auto;
    margin-top:  10px;
    display: block;
    
}

.onleft::after {
    content: '';
    height: 3px;
    width: 120px;
    background-color:#FF006E;
    margin-top:  auto;
    margin-left:  auto;
    margin-right:  auto;
    margin-top:  10px;
    display: block;
    position: absolute;
}

p {
    font-size: larger;
}

a {
    text-transform: uppercase;
    text-decoration: none !important;
}

.cw {
    color: white;
}

.cgreen{
    color:#907489;

}


.backc-green{
    background-color:#FF006E;

}

.cgreen-h:hover{
    color:#FF006E;
}

.cpink {
    color: #FF006E;
}

.cg {
    color: gray;
}

.cg-h:hover {
    color: gray;
}

.fas {
    cursor: pointer;
}

.white-fas, .purple-fas {
    font-size: 30px;
}

.purple-fas {
    color: #BF0092 ;
}

.img-box {
    padding: 0 !important;
}

.btnr{
    outline: none !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    transition: .6s;
    opacity: 0;
    z-index: 1;
    border: solid 2px white;
    padding: 10px;
    font-weight: 700;
}


.btnr  a {
    color: white !important;
}

.btnr a:hover {
    color: #FF006E !important;

}

.btnr:hover  {
    background-color: white !important;
    color: #FF006E !important;
}


.blog-post {
    padding: 0 !important;
}


.blog-post:hover .btnr, .blog-post:hover .btnr a {
    transform: translate(-50%,50%);
    bottom: 50%;
    opacity: 1; 
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity:0;
    transition: .5s;
}
 
.blog-post:hover:hover .overlay {
    opacity: .5;
    width: 100%;
    height: 100%;
    background-color: #FF006E;
}

.cap{
    text-transform: capitalize;
}